*{
    margin-top: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --opinions: #292E47;
    --title: #514D67;
    --btn: #072AC8;
    --text: #6B708D;
    --hover: #43D2FF;
    --background: #F4F6FC;
}

/* GLOBAL */

h1{
    font-size: 6rem;
    font-weight: 700;
    color: var(--title);
}

h2{
    font-size: 5rem;
    font-weight: 700;
    color: var(--title);
}

h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--title);
}

h4{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--title);

}

p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
    
}


/* NavBar */
header nav {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 8.6rem;
    align-items: baseline;
}

header img {
    display: flex;
    flex-wrap: wrap;
    width: 6rem;
}

header ul{
    display: flex;
    flex-direction: row;
}

header ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    font-size: 1.7rem;
}

header button{
    background-color: var(--btn);
    border: none;
    color: white;
    padding: 1.5rem 3.3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
}

/* Opinions Section */
#opinions {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--opinions);
    margin-left: 6rem;
    margin-right: 6rem;
    height: 62rem;
}

#opinions .memojis{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#opinions .memojis img{
    width: 15rem;
}

#opinions #centered {
    align-items: center;
    flex-direction: column;
}

#opinions #centered div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#opinions #centered h3{
    color: white;
}

#opinions #centered p{
    color: #FFC600;
}

#opinions #centered div h6{
    color: #A2D6F9;
}

#opinions #centered div p{
    color: white;
}

#opinions #centered div img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

#opinions #centered div div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

/* Projects Section */

.projects{
    margin: 2rem 15rem;
}

.projects h2{
    width: 15rem;
    font-size: 4rem;
}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-box{
    width: 34rem;
    height: 44rem;
    background-color: #FFFFFF;
    margin-top: 2rem;
    box-shadow: 0rem 3.8rem 7.7rem rgba(0, 0, 0, 0.1);
    transition: all 600ms;
}

.card-box:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0rem 0rem 5rem #9d00ecc0;
}

.card-box img{
    width: 34rem;
    height: 24rem;
}

.card-box h3,p,a{
    margin: 2.5rem;
    font-size: 1.7rem;
}

.card-box h3{
    font-size: 2.4rem;
    margin-bottom: 0rem;
}

.card-box p{
    margin-top: 0.7rem;
    margin-bottom: 6rem;
}

.card-box a{
    text-decoration: none;
}

.card-box a:visited{
    color: #072AC8;
}

/* footer */

footer{
    display: flex;
    margin: 6rem 15rem;
    justify-content: space-between;
}

footer > div > img{
    width: 9.8rem;
    height: 3rem;
}

footer div:first-child{
    padding: 1.5rem;
    padding-left: 0;
}

footer div:first-child  p{
    width: 25rem;
    margin-left: 0rem;
    font-size: 1.7rem;
}

footer div:last-child{
    width: 43.5rem;
}

footer div:last-child ul{
    display: flex;
    list-style: none;
    padding: 2rem;
    justify-content: space-between;
}

footer div:last-child ul li{
   width: 25rem;
}

footer div:last-child ul li a{
    margin: 0;
    position: relative;
    text-decoration: none;
    color: var(--text);
}

footer div:last-child ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .3rem;
    border-radius: .4rem;
    background-color: var(--btn);
    bottom: -.3rem;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
  }

footer div:last-child ul li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);

}