*{
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --title: #514D67;
    --btn: #072AC8;
    --text: #6B708D;
    --hover: #43D2FF;
    --background: #F4F6FC;
}

/* GLOBAL */

h1{
    font-size: 6rem;
    font-weight: 700;
    color: var(--title);
    line-height: 7rem;
}

h2{
    font-size: 5rem;
    font-weight: 700;
    color: var(--title);
}

h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--title);
}

h4{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--title);

}

p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
    
}

a{
    text-decoration: none;
}

/* Our Projects */

.projects{
    margin: 2rem 15rem;
}

.projects h2{

}

.project-box{
    height: 44rem;
    background-color: #FFFFFF;
    margin-top: 2rem;
}

.project-box img{
    width: 34rem;
    height: 24rem;
}







/* Hero Banner */


/* .pr{
    padding-right: 3rem;
}

.container{
    max-width: 144rem;
    padding: 0 17rem 0 17rem;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 0 1.2rem 0 1.2rem;
}

.col-6 div:first-child{

    max-width: 100%;
    width: 78rem;
    height: 62.3rem;
    background-color: red;

} */

/* .img-fluid{

} */

/* 3 */

/* @media(max-width: 767px){
    .container{
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-align p{
        text-align: center;
    }

    .text-align h1{
        font-size: 5rem;
        text-align: center;
    }
    
    .row{
        flex-direction: column;
    }

    .col-6{
        width: 100%;
    }

    #hero-banner{
       padding-top: 3rem;

    }


    
    #hero-banner .animated{
        animation: none;
    }

    #hero-banner .button-wrapper{
        flex-direction: column;
    }

    #hero-banner .btn-get-in-touch{
        margin-left: 0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
     

} */



.container{
    max-width: 144rem;
    padding: 0 17rem 0 17rem;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 0 1.2rem 0 1.2rem;
}

@media (max-width:767px) {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3rem 0 3rem;
    }

    .row{
        flex-direction: column;
    }
    
    .text-align h1,p{
        text-align: center;
    }

    #hero-banner{
        background-color: brown;
    }

    .container .row{
        color: #43D2FF;
    }
    
}
