*{
    margin-top: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --title: #514D67;
    --btn: #072AC8;
    --text: #6B708D;
    --hover: #43D2FF;
    --background: #F4F6FC
}

/* GLOBAL */

h1{
    font-size: 6rem;
    font-weight: 700;
    color: var(--title);
}

h2{
    font-size: 5rem;
    font-weight: 700;
    color: var(--title);
}

h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--title);
}

h4{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--title);

}

p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
    
}

/* NavBar */

header{
    margin: 0 17rem;
    padding-top: 8.5rem;
}

li{
    list-style: none;
}

a{
    color: var(--title);
    text-decoration: none;
}

.navbar{
    font-size: 17px;
    background-color: var(--background);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 24px
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbar img {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 6rem;
}

.nav-link{
    transition: 0.7s ease;
}

.navlink:hover{
    color: var(--hover);
}

.navbar button{
    background-color: var(--btn);
    border: none;
    color: white;
    padding: 1.5rem 3.3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--btn);
}

.hide {
    display: none;
}

@media(max-width:965px){
    header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-top: 8.5rem;
    }

    .navbar{
        align-items: center;
    }

    .navbar img {
        padding-left: 0;
        padding-right: 10rem;
        display: flex;
        flex-wrap: wrap;
        width: 6rem;
    }

    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--background);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
        list-style: none;
        text-decoration: none;
    }

    .nav-menu.active{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        left: 0;
    }

    .hide {
        display: flex;
    }

}